// Spacing Variables
//
// These variables are a base values for padding, margin, line-height etc.
// -----------------------------------------------------------
$base-margin: 0.63rem;
$large-margin: $base-margin * 4;

$base-padding: 0.63rem;
$large-padding: $base-padding * 4;
