@mixin cover-image($image-path, $height) {
  background-image: url($image-path);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: $height;
}
